.footer{
    background-color: #455A64;
    /* text-align: center; */
    /* height: calc(100% - 60px); */
    height:45px;
    position: fixed; 
    bottom: 0;
    width: 100%;
}

.text{
    /* position: absolute;
    left: 50%;
    transform: translatex(-50%); */
    text-align: center;
    /* padding-left: 50%; */
    color: white;
    /* font-weight: bold; */
    font-size: 18px;
}